* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f5f7;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    border-radius: 0 20px 20px 0;
}

.sidebar .user-info {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .user-info img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar p {
    font-size: 14px;
    color: #ccc;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.sidebar nav ul li:hover {
    background-color: #444;
    border-radius: 10px;
}

/* Ícones na barra lateral */
.sidebar nav ul li i {
    margin-right: 10px;
    font-size: 18px;
}

/* Main content */
.main-content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.search-bar:focus {
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
    transition: color 0.3s ease-in-out;
    pointer-events: none;
}

.search-bar:focus+.search-icon {
    color: #333;
}

.add-button,
button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
    margin: 10px;
}

.add-button:hover,
button:hover {
    background-color: #555;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.empresas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    color: #888;
    font-size: 14px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.pagination a {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.pagination button:hover {
    background-color: #555;
}

/* Recent files */
h2 {
    font-size: 20px;
    margin-top: 40px;
    font-weight: 500;
}

.recent-files-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.recent-file-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background 0.3s, transform 0.3s;
}

.recent-file-row:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
}

.recent-file-row span {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.recent-file-row span:first-child {
    text-align: left;
}

/* Popups */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;
}

.popup-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.popup-content input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.popup-content button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.popup-content button:hover {
    background-color: #555
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Estilos do container de detalhes */
#detalhesEmpresa {
    padding: 20px;
    font-size: 14px;
    color: #333;
}

#detalhesEmpresa p {
    margin: 5px 0;
}

#detalhesEmpresa button {
    margin-top: 15px;
    margin: 10px;
    /* Adicionado */
}